In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv('/content/titanic_dataset .csv')
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
data['Age'].fillna(data['Age'].median(), inplace=True)
data['Embarked'].dropna(inplace=True)

In [ ]:
data['Sex'] = data['Sex'].map({'male': 0, 'female': 1})
data = pd.get_dummies(data, columns=['Embarked'])

In [ ]:
data.drop(columns=['Name', 'Ticket', 'Cabin'], inplace=True)

In [ ]:
X = data.drop(columns=['Survived'])
y = data['Survived']

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
knn = KNeighborsClassifier()
svm = SVC()

In [ ]:
knn.fit(X_train, y_train)
svm.fit(X_train, y_train)

y_pred_knn = knn.predict(X_test)
y_pred_svm = svm.predict(X_test)

accuracy_knn = accuracy_score(y_test, y_pred_knn)
accuracy_svm = accuracy_score(y_test, y_pred_svm)

print(f'Accuracy of kNN: {accuracy_knn}')
print(f'Accuracy of SVM: {accuracy_svm}')

Accuracy of kNN: 0.8044692737430168
Accuracy of SVM: 0.8100558659217877

In [ ]:
from sklearn.model_selection import cross_val_score, StratifiedKFold

k_fold_scores_knn = cross_val_score(knn, X, y, cv=10)
k_fold_scores_svm = cross_val_score(svm, X, y, cv=10)

print(f'Average k-fold accuracy for kNN: {k_fold_scores_knn.mean()}')
print(f'Average k-fold accuracy for SVM: {k_fold_scores_svm.mean()}')

strat_k_fold = StratifiedKFold(n_splits=10)
strat_k_fold_scores_knn = cross_val_score(knn, X, y, cv=strat_k_fold)
strat_k_fold_scores_svm = cross_val_score(svm, X, y, cv=strat_k_fold)

print(f'Average stratified k-fold accuracy for kNN: {strat_k_fold_scores_knn.mean()}')
print(f'Average stratified k-fold accuracy for SVM: {strat_k_fold_scores_svm.mean()}')

Average k-fold accuracy for kNN: 0.5039825218476903
Average k-fold accuracy for SVM: 0.6532584269662922
Average stratified k-fold accuracy for kNN: 0.5039825218476903
Average stratified k-fold accuracy for SVM: 0.6532584269662922