In [ ]:
radius = input("enter a radius:")
radius = float(radius)
area = 3.14 * radius * radius
print("area of circle:",area)

enter a radius:3
area of circle: 28.259999999999998

In [ ]:
name = input(char("enter a name:"))
age = input(int("enter a mark:"))
roll number = input(int("enter a roll number:"))

print(name,age,mark)

SyntaxError: invalid syntax (<ipython-input-56-96678bbc8581>, line 3)

In [ ]:
mylist = [ 12, 3, 47, 10]
mylist.sort()
print("the largest element is: " , mylist[-1])

the largest element is:  47

In [ ]:
previous_num = 0
for i in range(10):
    sum = previous_num + i
    print(f'Current number {i} Previous Number {previous_num} is {sum}')
    previous_num = i

Current number 0 Previous Number 0 is 0
Current number 1 Previous Number 0 is 1
Current number 2 Previous Number 1 is 3
Current number 3 Previous Number 2 is 5
Current number 4 Previous Number 3 is 7
Current number 5 Previous Number 4 is 9
Current number 6 Previous Number 5 is 11
Current number 7 Previous Number 6 is 13
Current number 8 Previous Number 7 is 15
Current number 9 Previous Number 8 is 17

In [ ]:
num = int(input("Enter the number:"))

if num%5 == 0:
  print ("The number is divisible.")

else:
  print ("The number is not divisible.")

Enter the number:10
The number is divisible.

In [ ]:
number = int(input("Enter a number: "))
if number > 1:
    for i in range(2, number):
        if (number % i) == 0:
            print(number, "is not a prime number")
            break
    else:
        print(number, "is a prime number")
else:
    print(number, "is not a prime number")

Enter a number: 3
3 is a prime number

In [ ]:
list1 = [10,40,30,70]
list1.reverse()
print(list1)

[70, 30, 40, 10]

In [ ]:
rows = int(input("Enter number of rows: "))

for i in range(rows):
    for j in range(i+1):
        print("* ", end="")
    print()

Enter number of rows: 4
*
* *
* * *
* * * *

In [ ]:
a = 34
b = 12
c = 7

print(maximum(a,b,c))

34

In [ ]:
for i in range(10)