In [ ]:
import numpy as np
import pandas as pd

In [11]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/Students_Performance (1).csv')
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

In [ ]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

In [ ]:
df.shape

(1000, 8)

In [20]:
gender_counts = df['gender'].value_counts()
print(gender_counts)

female    518
male      482
Name: gender, dtype: int64

In [21]:
df["parental level of education"].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [25]:
print(df.groupby('gender').mean(numeric_only=True))

        math_score  reading_score  writing_score  average_score
gender
female   63.376448      72.590734      72.467181      69.478121
male     68.821577      65.545643      63.446058      65.937759

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
 8   average_score                1000 non-null   float64
dtypes: float64(1), int64(3), object(5)
memory usage: 70.4+ KB

In [36]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math_score', 'reading_score',
       'writing_score', 'average_score'],
      dtype='object')

In [40]:
print(df.groupby('test preparation course').mean(numeric_only=True))

                         math_score  reading_score  writing_score  \
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

                         average_score
test preparation course
completed                    72.942272
none                         64.888370

In [45]:
print(df.groupby('gender').std(numeric_only=True))
print(df.groupby('test preparation course').std(numeric_only=True))

        math_score  reading_score  writing_score  average_score
gender
female   16.029928      14.411018      14.844842      14.703600
male     14.556411      14.149594      14.227225      13.868181
                         math_score  reading_score  writing_score  \
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

                         average_score
test preparation course
completed                    12.943234
none                         14.387989

In [46]:
top_25_percent = df['math_score'].quantile(0.75)
bonus_points = df[df['math_score'] >= top_25_percent]['math_score'].max()
print("\ne. Bonus points for top 25% of students based on math score:", bonus_points)

e. Bonus points for top 25% of students based on math score: 100

In [ ]:
#sales_add

In [47]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/Sales_add.csv')
df

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [49]:
import pandas as pd
from scipy.stats import ttest_rel
from scipy.stats import chi2_contingency

data = {
    "Month": ["Month-1", "Month-2", "Month-3", "Month-4", "Month-5", "Month-6", "Month-7", "Month-8", "Month-9"],
    "Region": ["A", "A", "B", "B", "C", "A", "C", "A", "B"],
    "Manager": ["-", "-", "-", "-", "-", "-", "-", "-", "-"],
    "Sales_bef": [132921, 149559, 146278, 152167, 159525, 137163, 130625, None, 131140],
    "Sales_After_digital_add": [270390, 223334, 244243, 231808, 258402, 256948, 222106, None, 226261]
}

df = pd.DataFrame(data)
df.dropna(inplace=True)
df['Increase_in_sales'] = df['Sales_After_digital_add'] - df['Sales_bef']

average_increase = df['Increase_in_sales'].mean()
print("Average increase in sales after digital marketing:", average_increase)
t_statistic, p_value = ttest_rel(df['Sales_After_digital_add'], df['Sales_bef'])
print("\nPaired t-test results:")
print("T-statistic:", t_statistic)
print("P-value:", p_value)

Average increase in sales after digital marketing: 99264.25

Paired t-test results:
T-statistic: 13.573255129041623
P-value: 2.7706546803620345e-06

In [50]:
crosstab = pd.crosstab(df['Region'], df['Manager'])

chi2, p, dof, expected = chi2_contingency(crosstab)

print("\nChi-square test results:")
print("Chi-square:", chi2)
print("P-value:", p)

Chi-square test results:
Chi-square: 0.0
P-value: 1.0